name: Build and deploy
on:
  push:
    tags: '*'
    branches-ignore:
      - 'autodelivery**'
      - 'bump-**'
      - 'renovate/**'
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'LICENSE'
      - '.github/workflows/update-hugo.yml'
  pull_request:
  workflow_dispatch:

env:
  REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  Build-Slides:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Checkout
        uses: danysk/action-checkout@0.2.20
      - name: Update submodules
        run: git submodule update --init --recursive
      #- name: Adjust chart for mermaid rendering
      #  run: ruby .github/scripts/adjust-svg.ru
      - name: Compute the version of Hugo
        id: hugo
        shell: bash
        run: |
          # Idea: the regex matcher of Renovate keeps this string up to date automatically
          # The version is extracted and used to access the correct version of the scripts
          USES=$(cat <<TRICK_RENOVATE
          - uses: gohugoio/hugo@v0.135.0
          TRICK_RENOVATE
          )
          echo "Scripts update line: \"$USES\""
          echo "Computed version: \"${USES#*@v}\""
          echo "::set-output name=version::${USES#*@v}"
      - name: Download Hugo
        run: |
          HUGO_VERSION="${{ steps.hugo.outputs.version }}"
          URL="https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb"
          wget --retry-connrefused --waitretry=1 --read-timeout=20 "$URL" --output-document=hugo.deb
      - name: List files
        run: ls -ahl
      - name: Install Hugo
        run: sudo dpkg -i hugo.deb
      - name: Print Hugo version
        run: hugo version
      - name: Remove Hugo Installer
        run: rm hugo.deb
      - name: Get GH pages URL
        run: echo https://$GITHUB_REPOSITORY_OWNER.github.io/$REPOSITORY_NAME | xargs -I{} echo '::set-output name=URL::{}'
        id: gh-pages-url
      - name: Build slides with hugo
        run: hugo -b ${{ steps.gh-pages-url.outputs.URL }}
      - name: Transform and Inline Mermaid
        uses: cric96/inline-mermaid@v1.8.1
      - name: Deploy website
        if: ${{ github.event_name != 'pull_request' }}
        uses: JamesIves/github-pages-deploy-action@v4.6.8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: build
